<div class="toolbar">
  <span>WORK ORDERS</span>

  <div>
    <input id="search" type="text" placeholder="Search by description" />
    <button class="button" (click)="searchDescription()">Search</button>
  </div>
</div>

<div class="content">
  <table>
    <tr class="table-title" *ngIf="viewedData.length > 0; else noResultTmpl">
      <th>Work Order ID</th>
      <th>Description</th>
      <th>Received date</th>
      <th>Assigned to</th>
      <th>Status</th>
      <th>Priority</th>
    </tr>
    <tr *ngFor="let data of viewedData">
      <td>{{ data.work_order_id }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.received_date }}</td>
      <td>
        <div *ngFor="let person of data.assigned_to">
          {{ person.person_name }} - {{ person.status }}
        </div>
      </td>
      <td>{{ data.status }}</td>
      <td>{{ data.priority }}</td>
    </tr>
  </table>

  <footer><b>FS&nbsp;</b> - code by Karolina</footer>
</div>

<ng-template #noResultTmpl>
  <p class="content">Ups..! No results match the search criteria</p>
</ng-template>
